# Site name
site_name: Artigraph
repo_url: https://github.com/rmorshea/artigraph
extra_css:
    - style.css

# Navigation menu
nav:
    - Home: index.md
    - Usage: usage.md
    - Queries: queries.md
    - Storage: storage.md
    - Serializers: serializers.md
    - Schema: schema.md
    - API: api.md

# Theme
theme:
    name: material
    icon:
        logo: material/graph
    palette:
        - scheme: default
          toggle:
              icon: material/brightness-7
              name: Switch to dark mode
        - scheme: slate
          toggle:
              icon: material/brightness-4
              name: Switch to light mode

# Extensions
markdown_extensions:
    - markdown.extensions.admonition
    - markdown.extensions.attr_list
    - markdown.extensions.def_list
    - markdown.extensions.footnotes
    - markdown.extensions.meta
    - pymdownx.highlight:
          anchor_linenums: true
          line_spans: __span
          pygments_lang_class: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - pymdownx.superfences:
          custom_fences:
              - name: mermaid
                class: mermaid
                format: !!python/name:pymdownx.superfences.fence_code_format
    - admonition
    - pymdownx.details
plugins:
    - search
    - mkdocstrings:
          default_handler: python
          handlers:
              python:
                  paths: [src]
                  options:
                      show_bases: true
                      show_source: true
                      docstring_style: google
                      show_signature_annotations: true
                      separate_signature: true
watch:
    - "./src"
